{% extends 'base.html' %}

{% block content %}
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="5000"
             data-image-height="3220" id="sec-4f81">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-text u-text-default u-title u-text-1">Ваши виртуальные машины</h1>
            <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-2">Посмотреть виртуальные
                машины созданные в данный момент.</p>
            <a href="Список-машин.html"
               class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-btn u-button-style u-palette-1-base u-btn-1">Просмотр</a>
        </div>
    </section>
{% endblock %}
