{% extends 'base.html' %}

{% block content %}
    <section
            class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-1-base u-section-1"
            id="carousel_2188">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-radius-20 u-size-20-lg u-size-20-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-align-center u-border-7 u-border-palette-1-light-1 u-image u-image-circle u-image-1"
                                     data-image-width="600" data-image-height="500"></div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-40-lg u-size-40-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">
                                    Шекунов Борис</h2>
                                <h5 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default u-text-2">
                                    студент группы ИУ8-35</h5>
                                <h4 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default u-text-3">
                                    *Создал сие творение</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h5 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-4"> Номер
                                телефона</h5>
                            <h4 class="u-align-center u-text u-text-palette-1-light-2 u-text-5">
                                <a class="u-active-none u-border-active-white u-border-hover-white u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-palette-1-light-2 u-btn-1"
                                   href="tel:8 800 555-35-35" data-animation-name="" data-animation-duration="0"
                                   data-animation-delay="0" data-animation-direction="">8 800 555-35-35<br>
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <h5 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-6">Почта
                                для
                                ваших вопросов</h5>
                            <h4 class="u-align-center u-text u-text-palette-1-light-2 u-text-7">
                                <a href="mailto:b20030021@gmail.com"
                                   class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-light-2 u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-active-white u-text-hover-white u-text-palette-1-light-2 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">b20030021@gmail.com</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-8583">
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
{% endblock %}
