{% extends 'base.html' %}

{% block content %}
<section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="carousel_6cd2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-1">Добро пожаловать<span
                style="font-size: 3.75rem;">
            <span style="font-size: 4.5rem;"></span>
          </span>
        </h2>
        <h6 class="u-align-center u-text u-text-palette-4-dark-1 u-text-2">Поможем вам настроить виртуальную
            инфраструктуру для вашего предприятия.</h6>
        <p class="u-text u-text-3">Данный сайт представляет инструметны для создания собственной виртуальной
            инфраструктуры. В данный момент сайт находится в разработке. Бетта версия сайта предоставляет функционал
            лишь для разворачивания независимых виртуальных машин.<br>
        </p>
        <a href="Создание-виртуальных-машин.html"
           class="u-align-center u-border-2 u-border-hover-white u-border-white u-btn u-button-style u-custom-color-3 u-hover-custom-color-2 u-text-body-alt-color u-btn-1">Узнать
            Больше</a>
    </div>
</section>
{% endblock %}
