{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-5132">
        <div class="u-align-left u-container-style u-expanded-width u-group u-palette-1-base u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-center u-text u-title u-text-1">Ваши виртуальные машины</h1>
                <p class="u-align-center u-large-text u-text u-text-variant u-text-2">
                    Список всех шаблонов существующих на данный момент.</p>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-5c99">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-table u-table-responsive u-table-1">
                <table class="u-table-entity u-table-entity-1">
                    <colgroup>
                        <col width="22.9%">
                        <col width="77.1%">
                    </colgroup>
                    <thead class="u-align-center u-gradient u-table-header u-text-white u-table-header-1">
                    <tr style="height: 46px;">
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-1">Название</th>
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-2">Описание</th>
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-2">Состояние</th>
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-2">Шаблон</th>
                        <th class="u-border-1 u-border-grey-30 u-table-cell u-table-cell-2">Создание</th>
                    </tr>
                    </thead>
                    <tbody class="u-table-body">
                    {% for vm in all_VM %}
                        <tr style="height: 76px;">
                            <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell">
                                {{ vm.name }}
                            </td>
                            <td class="u-border-1 u-border-grey-30 u-table-cell">
                                {{ vm.description }}
                            </td>
                            <td class="u-border-1 u-border-grey-30 u-table-cell">
                                {% if vm.running %}
                                    Активна
                                {% else %}
                                    Не активна
                                {% endif %}
                            </td>
                            <td class="u-border-1 u-border-grey-30 u-table-cell">
                                <a href="{% url 'vm' vm.name %}"
                                   class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-50 u-btn-1">Просмотр
                                </a>
                            <td class="u-border-1 u-border-grey-30 u-table-cell">
                                {% if vm.running %}
                                    <form action="{% url 'DeleteVirtualMachine' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="vm_name" value="{{ vm.name }}">
                                        <button class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-2-base u-radius-50 u-btn-1"
                                                type="submit">Удалить
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'CreateVirtualMachine' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="vm_name" value="{{ vm.name }}">
                                        <button class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-50 u-btn-1"
                                                type="submit">Создать
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form action="{% url 'DeleteAllVirtualMachine' %}" method="post">
                    {% csrf_token %}
                    <button class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-2-base u-radius-50 u-btn-1"
                            type="submit">Удалить все виртуальные машины
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
