 .u-section-1 {
  background-image: none;
  min-height: 858px;
}

.u-section-1 .u-shape-1 {
  height: 202px;
  margin-top: 293px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 784px;
  height: 588px;
  margin: -395px auto 0 calc(((100% - 1140px) / 2) + 123px);
}

.u-section-1 .u-group-1 {
  width: 556px;
  min-height: 252px;
  height: auto;
  margin: -153px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 294px;
  }

  .u-section-1 .u-image-1 {
    width: 762px;
    height: 507px;
    margin-top: -379px;
    margin-left: calc(((100% - 1140px) / 2) + 189px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -88px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 810px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 262px;
  }

  .u-section-1 .u-image-1 {
    width: 599px;
    height: 449px;
    margin-top: -355px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 466px;
    margin-top: -55px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 675px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 161px;
  }

  .u-section-1 .u-image-1 {
    width: 453px;
    height: 340px;
    margin-top: -254px;
    margin-right: calc(((100% - 1140px) / 2) + 336px);
  }

  .u-section-1 .u-group-1 {
    width: 415px;
    margin-top: -47px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 654px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 160px;
  }

  .u-section-1 .u-image-1 {
    width: 318px;
    height: 243px;
    margin-top: -253px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    margin-top: 50px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-shape-1 {
  width: 114px;
  height: 114px;
  margin: 60px 30px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 983px;
  margin: 63px auto 0 70px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 581px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  margin: 199px 5px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 581px;
  background-image: url("../img/gffgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-group-1 {
  width: 635px;
  min-height: 280px;
  background-image: none;
  height: auto;
  margin: -108px 0 60px auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 26px 19px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-style: italic;
  margin: 0 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 67px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 826px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 556px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 691px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 426px;
  }

  .u-section-2 .u-group-1 {
    width: 400px;
    min-height: 324px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 460px;
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 518px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 377px;
    min-height: 284px;
    margin-top: -73px;
    margin-bottom: -194px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -159px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 310px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 385px;
  }

  .u-section-2 .u-group-1 {
    width: 310px;
    min-height: 261px;
    margin-top: -66px;
    margin-bottom: -158px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 461px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 341px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-shape-1 {
  width: 107px;
  height: 107px;
  margin: 67px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 341px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  margin-left: 0;
  font-weight: 300;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  font-weight: 700;
  margin: 41px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 653px;
}

.u-section-4 .u-shape-1 {
  width: 483px;
  height: 652px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1072px;
  margin: -595px 0 58px auto;
}

.u-section-4 .u-image-1 {
  min-height: 538px;
  background-image: url("../img/b4f60df5-647e-b99f-a687-ec47c26aa869.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 3px -60px 0 0;
}

.u-section-4 .u-form-1 {
  height: 308px;
  margin: 3px -60px 0 0;
}

.u-section-4 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-4 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-4 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 411px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 883px;
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 531px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-shape-1 {
    width: 219px;
    height: auto;
    margin: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 675px;
  }

  .u-section-4 .u-image-1 {
    min-height: 506px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-4 .u-shape-1 {
    height: 416px;
    margin-top: 60px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 443px;
    margin-top: -356px;
    margin-right: auto;
    margin-bottom: -197px;
  }

  .u-section-4 .u-image-1 {
    min-height: 550px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-4 .u-shape-1 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 280px;
    margin-top: -231px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 298px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 471px;
  }
}